<!-- wp:template-part {"slug":"header","theme":"suku","tagName":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"hero-section"} /-->

<!-- wp:pattern {"slug":"stats-section"} /-->

<!-- wp:pattern {"slug":"features-section"} /-->

<!-- wp:pattern {"slug":"features-section-with-column-swap"} /-->

<!-- wp:pattern {"slug":"column-with-features-panel"} /-->

<!-- wp:pattern {"slug":"features-with-accordion"} /-->

<!-- wp:pattern {"slug":"feature-column-swap-with-highlighted-count"} /-->

<!-- wp:pattern {"slug":"reviews"} /-->

<!-- wp:pattern {"slug":"homepage-query-loop"} /-->

<!-- wp:pattern {"slug":"two-column-with-image-and-description"} /-->

<!-- wp:pattern {"slug":"cta-box"} /-->

<!-- wp:template-part {"slug":"footer","theme":"suku","tagName":"footer"} /-->
